<h1>{{title_login}}</h1>
<fieldset>
    <label for="login">{{login}}</label>
    <input type="email" id="login">
</fieldset>
<fieldset>
    <label for="senha">{{password}}</label>
    <input type="password" id="senha">
</fieldset>
<button type="button" data-click="sing">{{sing}}</button>
<button type="button" class="p-left" data-click="register">{{register}}</button>
