<h1>{{title_register}}</h1>
<fieldset>
    <label for="name">{{name}}</label>
    <input type="text" id="name" name="name">
</fieldset>
<fieldset>
    <label for="login">{{login}}</label>
    <input type="email" id="login" name="login">
</fieldset>
<fieldset>
    <label for="password">{{password}}</label>
    <input type="password" id="password" name="password">
</fieldset>
<fieldset>
    <label for="repeat_password">{{repeate_password}}</label>
    <input type="password" id="repeat_password" name="repeat_password">
</fieldset>
<button type="button" data-click="back">{{back}}</button>
<button type="button" class="p-left" data-click="save">{{save}}</button>