html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    font-family: 'Encode Sans Expanded', sans-serif;
}

.fade_in {
    opacity: 1;
    animation: a_fade_in 0.8s ease-out;
}

.fade_out {
    opacity: 0;
    animation: a_fade_out 0.8s ease-in;
}

#loader small {
    color: white;
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 11px;
}

#loader span {
    border-radius: 50%;
    padding: 18px;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    animation: spin 0.45s linear infinite;
}

@keyframes a_fade_in {
    to {
        opacity: 1;
    }
    from {
        opacity: 0;
    }
}

@keyframes a_fade_out {
    to {
        opacity: 0;
    }
    from {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

form {
    padding: 15px;
    font-size: 12px;
    opacity: 0;
}

form h1 {
    text-align: center;
    color: white;
}

form fieldset {
    border: none;
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
}

form fieldset label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

form fieldset input {
    width: 100%;
    padding: 10px;
    border: none;
}

form button {
    border: none;
    padding: 15px;
    float: left;
}

form button.p-left {
    float: right;
}